@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color: #38458b;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
header ul{
    display: flex;
    list-style: none;
}
header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
header nav ul li a:hover{
    color: aqua;
}
section{
    padding: 2em;
    margin: 4em auto 0 auto;
    max-width:800px;
}
.foto-retrato{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.red{
    width: 50px;
    height: 50px;
    border-radius: 0%;
}
.trabajo{
    max-width: 100%;
    height: auto;
}
video{
    max-width: 100%;
    height: auto;
}
.cronologia{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.cronologia::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.cronologia-item{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.cronologia-item::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #333;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.cronologia-item:nth-last-child(odd){
    left: 0;
}
.cronologia-item:nth-last-child(even){
    left: 50%;
}
.cronologia-fecha{
    padding: 10px;
    background: #333;
    color: white;
    position: absolute;
    top: 15px;
    width: 120px;
    text-align: center;
    border-radius: 6px;
}
.cronologia-contenido{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.cronologia-item:nth-last-child(odd) .cronologia-fecha{
    left: calc(100% + 15px);
}
.cronologia-item:nth-last-child(even) .cronologia-fecha{
    right: calc(100% + 15px);
}
@media (max-width: 768px){
    nav ul li{
        display: block;
        margin: 0.5em 0;
    }
    .foto-retrato{
        width: 100px;
    }
    section{
        padding: 1em;
        margin-top: 5em;
    }
    .cronologia-item{
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .cronologia-item::after{
        left: 60px;
    }
    .cronologia-fecha{
        left: 15px;
        top: 0;
    }
    .cronologia-contenido{
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }
}